In [2]:
Introduction to variables in python:

In [8]:
x = 7
y = 5

In [9]:
z = x+y
print(z)

12

In [ ]:
Rules for declaring the variables in python:

1. No Name spaces while declaring the variable names

In [10]:
first name = 'Faiyaz'
print(first name)

SyntaxError: invalid syntax (<ipython-input-10-2c65cf70718e>, line 1)

In [11]:
firstname='faiyaz'
print(firstname)

faiyaz

In [ ]:
2. A variable name should not start with a Number.

In [12]:
1name = 'kumar'
print(1name)

SyntaxError: invalid syntax (<ipython-input-12-8c54e5cba2e2>, line 1)

In [13]:
name1='kumar'
print(name1)

kumar

In [ ]:
3. A variable name should not contain any special characters. @&*$

In [15]:
name@ = 'navya'
print(name@)

SyntaxError: invalid syntax (<ipython-input-15-92755e60f917>, line 1)

In [ ]:
Introduction to datatypes in python:

In [ ]:
1. String ==> str
2. Numbers ==> integers ( int ) and floats ( decimals ) ==> float
3. list ==> list
4. tuple ==> tuple
5. dictionaries ==> dict

In [ ]:
Note: Python is a case sensitive language

In [ ]:
classification of data types:

In [ ]:
data types are classified into 2 different categories:
    1. mutable datatype ==> which we can edit or alter ==> flexible in nature
    2. immutable datatype ==> which we cannot edit or alter ==> fixed in nature

In [ ]:
introduction to string datatype:

In [ ]:
definition: A string is a series of characters declared in quotes.
classification: it is classified as an immutable datatype
    
how do you declare a string?
3 possible approaches for declaring a string.
1. single quote
2. double quotes
3. triple quotes

In [16]:
name='ravi'  #single quote
print(name)

ravi

In [18]:
name2="kalyan"  #double quote
print(name2)

kalyan

In [19]:
name3="""keerthi"""  #triple quote
print(name3)

keerthi

In [ ]:
#hash is used for commenting lines...